/* คำสั่ง ให้นร.แก้ไขไฟล์ CSS นี้ให้มีหน้าจอแสดงผลสวยงามตามที่โปรแกรมเครื่องคิดเลขควรจะเป็น
    ตัวอย่างสามารถดูได้ในโปรแกรม calculator ใน windows 

    Reference: https://www.w3schools.com/cssref/index.php
*/

/* ส่วนตัวของเว็บ */
body{
    background-color: #303030;
    /* ให้ข้อความทุกอย่างจัดอยู่ตรงกลาง */
    text-align: center; 
    /* ให้มีกรอบสไตล์ groove */
    /* border-style: groove; */
    /* ให้มีความกว้างอย่างน้อยๆไม่ต่ำกว่า 250 pixels */
    min-width: 250px;
}

/* ส่วนหัวข้อของหน้าเว็บ */
h1{
    /* ตั้งค่าขนาดฟ้อนท์ให้ไม่เล็กกว่า 20 pixels และใหญ่เท่ากับ 20px บวกกับ 3% ของ viewport ฝั่งที่เล็กสุด */
    font-size: calc(20px + 3vmin);
    color: white;
}

/* ส่วนตัวเครื่องคิดเลข */
#calc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 270px;
    padding: 15px;
    border-radius: 30px;
    background-color: #c4b9ff;
}

/* ส่วนแสดงผลตัวเลข */
#outputPanel{
    /* ให้ตำแหน่งของ element ต่างๆภายใต้ส่วนนี้ขึ้นกับขนาดของ outputPanel */
    position: relative;
    /* ให้แสดงผลเป็นประเภท inline แทน คือความกว้างไม่สุดจอ */
    display: inline-block;

    /* กว้าง 40% ของจอ สูง 10% ของจอ */
    /* width: 40vw;
    height: 10vh; */

    /* กว้างไม่ต่ำกว่า 200 pixels   */
    min-width: 200px;
    
}

#inputPanel{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,68px);
}

#display{
    text-align: left;
    font-size: calc(12px + 1vmin);
    padding: 15px;
    margin-top: 20px;
    border: 0;
    border-radius: 30px;
}

.bt{
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

.bt-num{
    background-color: pink;
}
#dot{
    background-color: aqua;
}
.bt-ops{
    background-color: aqua;
}

.bt-del{
    background-color: rgb(255, 243, 10);
}

.bt-clear{
    background-color: rgb(72, 237, 35);
}

.bt-optional{
    background-color: aqua;
}